.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f7;
}

.register-box {
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.input-group {
  margin-bottom: 18px;
}

label {
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-register {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  background: #38b000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-register:hover {
  background: #2d8d00;
}
